<%= form_for(film, :html => {:mutlipart => true}) do |f| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :realisateur %>
    <%= f.text_field :realisateur, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :date_sortie %>
    <%= f.date_select :date_sortie %>
  </div>

  <div class="field">
    <%= f.label :date_production %>
    <%= f.date_select :date_production %>
  </div>


    <div class="field">
      <label for="genre_id">Genre</label>
      <%= f.collection_select :genre_id, Genre.all, :id, :nom, {}, {:class=>'btn btn-default'} %>
    </div>

  <div class="field">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :pays %>
    <%= f.text_field :pays, class: 'form-control' %>
  </div>


  <div class="field">
    <%= f.label :duree %>
    <%= f.text_field :duree, class: 'form-control' %>
  </div>


    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :imagev, class: 'form-control' %>
    </div>

  <div class="actions">
    <%= f.submit 'Create', :class => 'btn btn-default' %>
  </div>
<% end %>
