<p id="notice"><%= notice %></p>

    <div class="image-container">
      <div class="image"><%= image_tag @film.image %></div>
      <div class="actions">
        <%= link_to 'Edit', edit_film_path(@film),class:'btn btn-primary' %> |
        <%= link_to 'Back', films_path , class:'btn btn-default'%>
      </div>
    </div>
    <div class="info-container text-center">
      <p class="titreFilmDescription">
        <strong><%= @film.titre %></strong>

      </p>

      <div class="leftSideFilmDescription">
      <p>
        <strong>Realisateur:</strong>
        <%= @film.realisateur %>
      </p>
      <p>
        <strong>Date sortie:</strong>
        <%= @film.date_sortie %>
      </p>
      <p>
        <strong>Date production:</strong>
        <%= @film.date_production %>
      </p>
      </div>

      <div class="rightSideFilmDescription">
      <p>
        <strong>Genre:</strong>
        <%= Genre.find(@film.genre_id).nom %>
      </p>
      <p>
        <strong>Pays:</strong>
        <%= @film.pays %>
      </p>
      <p>
        <strong>Duree:</strong>
        <%= @film.duree %>
      </p>
      </div>

      <p class="text-left">
        <strong>Synopsis:</strong>
        <%= @film.synopsis %>
      </p>

      <p class="bandeAnnonce">
        <%= @videos.each do |video| %>
            <iframe src="<%= video.lien %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </p>
</div>