<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/"><%= image_tag "SlothIcon.png" %> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to 'Ajouter un film', new_film_path %></li>
        <li><%= link_to 'Ajouter une video', new_video_path %></li>
        <li><%= link_to 'Ajouter un genre', new_genre_path %></li>
      </ul>
      <form class="navbar-form navbar-right" action="/search">
        <div class="form-group input-group">
          <select name="genre" id="genre-search" class="btn btn-default">
            <% Genre.all.each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.nom %></option>
            <% end %>
          </select>

          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>
